/* General */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0f;
  color: white;
}

.landing {
  min-height: 100vh;
}

/* Hero Section */
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url("https://images.ctfassets.net/nnkxuzam4k38/4lBzkVBmJ0qvFJ90SJHEdV/7645fc49f7f1fb4a8c31a94fc4c97f4d/black-particles-background.png") center/cover no-repeat;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  padding: 0 20px;
}

/* Tagline */
.hero-tagline {
  display: inline-block;
  background: rgba(255, 255, 255, 0.415);
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 14px;
}

/* Title */
.hero-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.text-gradient {
  /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    color: cyan;
  text-shadow: 0 0 2px cyan;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Subtitle */
.hero-subtitle {
  font-size: 18px;
  color: rgba(255,255,255,0.9);
  margin-bottom: 40px;
  line-height: 1.5;
}

/* Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.btn {
  padding: 14px 30px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  display: inline-block;
  margin: 0 10px;
}

.btn-gradient {
  background: linear-gradient(to right, cyan, cyan);
  color: #fff;
  border: none;
}

.btn-gradient:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 255, 255, 0.3);
}

.btn-gradient-explore {
  background: linear-gradient(to right,  cyan, cyan);
  color: #fff;
  border: none;
}

.btn-gradient-explore:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(61, 180, 217, 0.3);
}

/* Stats */
.hero-stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.stat-card {
  background: rgba(255, 255, 255, 0.415);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 20px;
  width: 150px;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.stat-icon {
  font-size: 28px;
  margin-bottom: 10px;
}

.stat-number {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.stat-label {
  font-size: 14px;
  color: rgba(255,255,255,0.8);
}
